// Body
$body-bg: #2f333c;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #585b62;
$primary: #D5ECD4;
$secondary: #D9B7E1;
